<div class="card">
    <div class="card-img">
        <img src="<%= item.img %>" alt="">
    </div>
    <span class="card-name"><%= item.nameItem %></span>
    <div class="card-value">
        <span><%= item.valor %></span>
        <span><%= item.parcelado %></span>
    </div>
    <div class="buy-btn">Comprar</div>
</div>