<footer class="footer">
<div class="">
<span><i class="fa-solid fa-phone"></i> (11) 98888-8888</span>
<span><i class="fa-solid fa-envelope"></i> atendimentoauto@aura.com</span>
<span><i class="fa-regular fa-copyright"></i> 2024 AURA. Todos os direitos reservados.</span>
</div>
<div class="">
    <span>CNPJ: 34.506.209/0001-43</span>
    <span>R. Sansão Alves dos Santos, 433, sala 31 - Cidade Monções</span>
    <span>São Paulo/SP - CEP: 04571-923</span> 
</div>
</footer>