<header>
    <div class="header-img">
        <img src="/assets/aura.png" alt="">
    </div>
    <div class="header-car">
        <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
        <div class="car-infos">
            <span>Seu Carrinho</span>
            <span>R$00,00</span>
        </div>
    </div>
</header>